:root {
  --font-size: 18px;
  --facteur-echelle: 1.2;
  --petit-texte: var(--font-size);
  --tres-petit-texte: calc(var(--petit-texte) / var(--facteur-echelle));
  --texte-moyen: calc(var(--petit-texte) * var(--facteur-echelle));
  --gros-texte: calc(var(--texte-moyen) * var(--facteur-echelle));
  --tres-gros-texte: calc(var(--gros-texte) * var(--facteur-echelle));

  font-family: 'Georgia', Times New Roman, Times, serif;

  --cyan-pale: #Bee9e8;
  --bleue-ciel-fonce: #62b6cb;
  --bleue-sombre: #1b4965;
  --beige:#f2e8cf;
  --bleue-clair: #Cae9ff;
  --vert-Succes:#90a955;
  --rouge-Rate:#bb4430;
  --bleue-moyennement-lumineux: #5fa8d3;
}
body{
  /* background-color: var(--bleue-clair); */
  background-color: var(--beige);
  margin: 0;
}
.active{
  text-decoration: underline;
}
header{
  display: flex;
  justify-content: space-between;
}
#WhoAmI{
  margin-top: 4%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#carteQuiSuisJe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enTete{
  display: flex;
}
#reponseAQuiSuisJe{
  width: 400px;
}
.photoEtQuiSuisJe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ApercuRealisation{
  margin-top: 4%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#maMusique{
  margin-top: 4%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#titre{
  width: 500px;
}
a{
  padding : 10px;
  text-decoration: none; 
  float: right;
  color: var(--bleue-sombre);
}
audio{
  display: block;
  margin: 0 auto;
}
.liste p, .liste h3{
  text-align: left;
}
#logoDansAbout{
  margin-left : 40%;
}
#ApprentissageMathematique{
  margin-top: 4%;
}
span{
  color:var(--bleue-moyennement-lumineux);
}
h2, h3, p, h4{
 text-align: center;
}
h1{
  font-size: var(--tres-gros-texte);
  color: var(--bleue-sombre);
}
h2{
  font-size: var(--gros-texte);
  color: var(--bleue-sombre);
}
h3{
  font-size: var(--texte-moyen);
  color: var(--bleue-sombre);
}
p{
  font-size: var(--petit-texte);
  color: var(--bleue-sombre);
}

.containerInformatiqueRealisation{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.lesSites{
  display: grid;
 margin-left: auto;
 margin-right: auto;
   grid-template-areas: 
    "Site1 Site2"
    "Site3 Site4";
}
.containerInformatiqueRealisation div.Qui{
  grid-area: Qui;
}
.Qui img{
  border-radius: 10px;
}
.containerInformatiqueRealisation div.Site1{
  grid-area: Site1;
}
.containerInformatiqueRealisation div.Site2{
  grid-area: Site2;
}
.containerInformatiqueRealisation h3{
  padding: 3%;
}
.containerInformatiqueRealisation div.Site3{
  grid-area: Site3;
}
.containerInformatiqueRealisation div.Site4{
  grid-area: Site4;
}
.carteRealisation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerMathematiqueApercuRealisation{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bleue-sombre);   
}
.carteMathematiqueApercuRealisation{
  display:flex;
  justify-content: center;
}
.carteMathematiqueApercuRealisation img{
  border-radius: 10px 0 0 10px;
}
.carteSectionMath {
  float: left;
  width: 30vw;
  background-color: var(--bleue-moyennement-lumineux);
  border-radius: 0 10px 10px 0;
  padding: 10px;
}
.carteMathematiqueApercuRealisation {
  margin-top: 2%;
  margin-bottom: 2%;

}
.carteSectionMath p{
  color : var(--bleue-sombre);
}
.carteSectionMath h3{
  color :var(--bleue-sombre) ;
}
img{
  border-radius: 10px;
}
#projetsDansAccueil{
  margin-top: 6%;
}
#projetsPreferes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10%;
}
.projetPref{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 30px;
}

/*Page de réalisations*/
.liste{
  margin-bottom: 10%;
}
#mesListes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.unElementDeMaListe{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 30px;
  border-radius: 20px;
 
}
.imageShadow{
  filter:none;
  transition: filter 0.7s ease;
}
.imageShadow.visible{
  filter: drop-shadow(5px 5px 10px var(--bleue-sombre));
  transform: scale(1.45);
}
footer{
  display: flex;
  background-color: var(--bleue-ciel-fonce);
  justify-content: space-evenly;
  position: fixed;
  bottom:0;
  width: 100vw;
}

/*Page de journal*/
.objectifs-Journal{
  display: flex;
  justify-content: center;
}
.objectifRate{
  color: var(--rouge-Rate);
}
/*Media Queries pour toutes les pages*/
@media(max-width:800px){
  body{
    margin: 0;
    padding:0;
  }
  .containerMathematiqueApercuRealisation{
    align-items: center;
  }
  #mesListes{
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;
  }
  footer{
    margin-top: 20vh;
  }
  header{
    flex-direction: column;
  }
  .carteSectionMath{
    width: 315px;
    height: 275px;
  }
  #barDeMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lesSites{
    display: flex;
    flex-direction: column;
  }
  .unElementDeMaListe{
    width: 100vw;
    padding: 2%;
  }
  .objectifs-Journal{
    flex-direction: column;
    align-items: center;
  }
  #photoDeProfil{
    height: 300px;
  }
  .projetPref{
    width: 100vw;
    padding: 3%;
  }
  .carteMathematiqueApercuRealisation img{
    border-radius: 10px 10px 0 0;
    width: 323px;
    height:200px;
  }
  #dernierLienDansPreferes{
    margin-bottom: 20%;
  }
  .carteMathematiqueApercuRealisation{
    flex-direction: column;
  }
   .containerInformatiqueRealisation{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:1200px) and (min-width:801px){
  .carteSectionMath{
    width: 70vw;
  }
  .containerInformatiqueRealisation{
    display: flex;
    flex-direction: column;
  }
  #mesListes{
    flex-direction: column;
    align-items: center;
  }
}

/*
:visited, :active :hover 
pour les hyperliens
*/