:root {
  --font-size: 18px;
  --facteur-echelle: 1.2;
  --petit-texte: var(--font-size);
  --tres-petit-texte: calc(var(--petit-texte) / var(--facteur-echelle));
  --texte-moyen: calc(var(--petit-texte) * var(--facteur-echelle));
  --gros-texte: calc(var(--texte-moyen) * var(--facteur-echelle));
  --tres-gros-texte: calc(var(--gros-texte) * var(--facteur-echelle));

  font-family: 'Georgia', Times New Roman, Times, serif;

  --cyan-pale: #Bee9e8;
  --bleue-ciel-fonce: #62b6cb;
  --bleue-sombre: #1b4965;
  --bleue-clair: #Cae9ff;
  --bleue-moyennement-lumineux: #5fa8d3;
}
body{
  background: var(--cyan-pale);
  background: linear-gradient(90deg,var(--cyan-pale) 10%, var(--bleue-ciel-fonce) 54%, var(--bleue-moyennement-lumineux) 88%);
  color: var(--bleue-sombre);
}
#WhoAmI{
  margin-top: 4%;
}
#ApercuRealisation{
  margin-top: 4%;
}
#barDeMenu a{
  padding : 10px;
  text-decoration: none; 
  float: right;
}
#Presentation{
  text-align: center;
}
audio{
  display: block;
  margin: 0 auto;
}

.liste p, .liste h3{
  text-align: left;
}
#About{
  margin-top: 20%;
  text-align: center;
  background-color: var(--bleue-sombre);
  color: var(--bleue-clair);
  padding: 2%;
}
#logoDansAbout{
  margin-left : 40%;
}
#ApprentissageMathematique{
  margin-top: 4%;
}
h2, h3, p, h4{
 text-align: center;
}
h1{
  font-size: var(--tres-gros-texte);
}
h2{
  font-size: var(--gros-texte);
}
h3{
  font-size: var(--texte-moyen);
}
h4{
  font-size: var(--tres-petit-texte);
}
p{
  font-size: var(--petit-texte);
}
.objectifs-Journal{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.objectifs-Journal p{
  padding: 2%;

}
.containerInformatiqueRealisation{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.carteRealisation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerMathematiqueApercuRealisation{
  display: flex;
  flex-direction: column;

}

.carteMathematiqueApercuRealisation{
  display:flex;
}
.carteMathematiqueApercuRealisation img{
  border-radius: 20px 0 0 20px;
}
.carteSectionMath {
  float: left;
  width: 30%;
  color : var(--bleue-clair);
  background-color: var(--bleue-sombre);
}

img{
  border-radius: 20px;
}
/*
:visited, :active :hover 
pour les hyperliens
*/