:root {
  --font-size: 18px;
  --facteur-echelle: 1.2;
  --petit-texte: var(--font-size);
  --tres-petit-texte: calc(var(--petit-texte) / var(--facteur-echelle));
  --texte-moyen: calc(var(--petit-texte) * var(--facteur-echelle));
  --gros-texte: calc(var(--texte-moyen) * var(--facteur-echelle));
  --tres-gros-texte: calc(var(--gros-texte) * var(--facteur-echelle));

  font-family: 'Georgia', Times New Roman, Times, serif;

  --cyan-pale: #Bee9e8;
  --bleue-ciel-fonce: #62b6cb;
  --bleue-sombre: #1b4965;
  --rouge-Chemise:#FE6669;
  --bleue-clair: #Cae9ff;
  --bleue-moyennement-lumineux: #5fa8d3;
}
body{
  background-image: url(../images/arrierePlanPrisDeMagnific.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#WhoAmI{
  margin-top: 4%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

}
#carteQuiSuisJe{
  display: flex;
  flex-direction: column;
}
#reponseAQuiSuisJe{
  width: 400px;
}
.photoEtQuiSuisJe{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ApercuRealisation{
  margin-top: 4%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#maMusique{
  margin-top: 4%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#titre{
  width: 500px;
}

#barDeMenu a{
  padding : 10px;
  text-decoration: none; 
  float: right;
}

.lesTextes{
text-shadow: 1px 0px 0px var(--bleue-sombre);
background: rgba(147, 170, 182, 0);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
audio{
  display: block;
  margin: 0 auto;
}

.liste p, .liste h3{
  text-align: left;
}
#About{
  margin-top: 20%;
  text-align: center;
  background-color: var(--bleue-sombre);
  color: var(--bleue-clair);
  padding: 2%;
}
#logoDansAbout{
  margin-left : 40%;
}
#ApprentissageMathematique{
  margin-top: 4%;
}
h2, h3, p, h4{
 text-align: center;

}
h1{
  font-size: var(--tres-gros-texte);
  color: var(--bleue-sombre);
}
h2{
  font-size: var(--gros-texte);
  color: var(--bleue-sombre);
}
h3{
  font-size: var(--texte-moyen);
  color: var(--bleue-sombre);
}

p{
  font-size: var(--petit-texte);
  color: var(--bleue-sombre);
}
.objectifs-Journal{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.objectifs-Journal p{
  padding: 2%;

}
.containerInformatiqueRealisation{
  display: grid;
  gap: 20px;
  width: 50%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
    "Qui Site1 Site2"
    "Qui Site3 Site4";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.containerInformatiqueRealisation div.Qui{
  grid-area: Qui;
}
.Qui img{
  border: 5px solid var(--rouge-Chemise);
  border-radius: 20px;
}
.containerInformatiqueRealisation div.Site1{
  grid-area: Site1;
  border: 5px solid var(--rouge-Chemise);
  border-radius: 20px;

  background: rgba(147, 170, 182, 0);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
.containerInformatiqueRealisation div.Site2{
  grid-area: Site2;
  border: 5px solid var(--rouge-Chemise);
  border-radius: 20px;

  background: rgba(147, 170, 182, 0);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
.containerInformatiqueRealisation h3{
  background-color: var(--rouge-Chemise);
  padding: 3%;
  border-radius: 10px;

  
}
.containerInformatiqueRealisation div.Site3{
  grid-area: Site3;
  border: 5px solid var(--rouge-Chemise);
  border-radius: 20px;

  background: rgba(147, 170, 182, 0);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
.containerInformatiqueRealisation div.Site4{
  grid-area: Site4;
  border: 5px solid var(--rouge-Chemise);
  border-radius: 20px;

  background: rgba(147, 170, 182, 0);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
.carteRealisation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerMathematiqueApercuRealisation{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carteMathematiqueApercuRealisation{
  display:flex;
  justify-content: center;
}
.carteMathematiqueApercuRealisation img{
  border-radius: 20px 0 0 20px;
}
.carteSectionMath {
  float: left;
  width: 30vw;
  background-color: var(--bleue-sombre);
  padding: 10px;
}
.carteSectionMath p{
  color : var(--cyan-pale);
}
.carteSectionMath h3{
  color : var(--cyan-pale);
}

img{
  border-radius: 20px;
}

@media(max-width:1200px){
  .containerMathematiqueApercuRealisation{
    flex-direction: column;
  }
}
/*
:visited, :active :hover 
pour les hyperliens
*/